{% extends '_partials/base.html' %} {% block content %}

{% load static %}

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
          <div class="loader-fill"></div>
        </div>
      </div>
      <!-- [ Pre-loader ] End -->

      <!-- [ Sidebar Menu ] start -->
      {% include '_partials/sidebar.html'%}
      <!-- [ Sidebar Menu ] end -->

       <!-- [ Header Topbar ] start -->
       {% include '_partials/header.html'%}
      <!-- [ Header ] end -->

                <!-- [ Main Content ] start -->
                <div class="pc-container">
                  <div class="pc-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                      <div class="page-block">
                        <div class="row align-items-center">
                          <div class="col-md-12">
                            <ul class="breadcrumb">
                              <!-- <li class="breadcrumb-item"><a href="../dashboard/index.html">Homee</a></li>
                              <li class="breadcrumb-item"><a href="javascript: void(0)">Layout</a></li> -->
                              
                              <li class="breadcrumb-item" aria-current="page">Classification</li>
                            </ul>
                          </div>
                          <div class="col-md-12 ">
                            <div class="page-header-title">
                              <h2 class="mb-0">Decision Tree Classifier</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
            
            
                    <!-- [ Main Content ] start -->
                    <div class="row">
                      <!-- [ sample-page ] start -->
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-header">
                            <h5>Background</h5>
                          </div>
                          <div class="card-body">
                            <p>
                                Decision Tree is a Supervised learning technique that can be used for both classification and Regression problems, but mostly it is preferred for solving Classification problems. It is a tree-structured classifier, where internal nodes represent the features of a dataset, branches represent the decision rules and each leaf node represents the outcome.
                            </p>

                            <p>
                                In a Decision tree, there are two nodes, which are the Decision Node and Leaf Node. Decision nodes are used to make any decision and have multiple branches, whereas Leaf nodes are the output of those decisions and do not contain any further branches.
                            </p>

                            <p>
                                The decisions or the test are performed on the basis of features of the given dataset.
                            </p>

                            <p>
                                It is a graphical representation for getting all the possible solutions to a problem/decision based on given conditions.
                            </p>
                            
                            <p>
                                It is called a decision tree because, similar to a tree, it starts with the root node, which expands on further branches and constructs a tree-like structure.                                
                            </p>

                            <p>
                                In order to build a tree, we use the CART algorithm, which stands for Classification and Regression Tree algorithm.
                            </p>

                            <p>
                                A decision tree simply asks a question, and based on the answer (Yes/No), it further split the tree into subtrees.
                            </p>

                            <h5>Decision Tree Terminologies</h5>

                            <ul>
                                <li><b>Root Node:</b> Root node is from where the decision tree starts. It represents the entire dataset, which further gets divided into two or more homogeneous sets.</li>
                                <li><b>Leaf Node:</b> Leaf nodes are the final output node, and the tree cannot be segregated further after getting a leaf node.</li>
                                <li><b>Splitting:</b> Splitting is the process of dividing the decision node/root node into sub-nodes according to the given conditions.</li>
                                <li><b>Branch/Sub Tree:</b> A tree formed by splitting the tree.</li>
                                <li><b>Pruning:</b> Pruning is the process of removing the unwanted branches from the tree.</li>
                                <li><b>Parent/Child node:</b> The root node of the tree is called the parent node, and other nodes are called the child nodes.</li>
                            </ul>

                            <h5>How does the Decision Tree algorithm Work?
                            </h5>

                            <p>
                                In a decision tree, for predicting the class of the given dataset, the algorithm starts from the root node of the tree. This algorithm compares the values of root attribute with the record (real dataset) attribute and, based on the comparison, follows the branch and jumps to the next node.
                            </p>

                            <p>
                                For the next node, the algorithm again compares the attribute value with the other sub-nodes and move further. It continues the process until it reaches the leaf node of the tree. The complete process can be better understood using the below algorithm:
                            </p>

                            <ul>
                                <li>Step-1: Begin the tree with the root node, says S, which contains the complete dataset.</li>
                                <li>Step-2: Find the best attribute in the dataset using Attribute Selection Measure (ASM).</li>
                                <li>Step-3: Divide the S into subsets that contains possible values for the best attributes.</li>
                                <li>Step-4: Generate the decision tree node, which contains the best attribute.</li>
                                <li>Step-5: Recursively make new decision trees using the subsets of the dataset created in step -3. Continue this process until a stage is reached where you cannot further classify the nodes and called the final node as a leaf node.</li>
                            </ul>

                          </div>
                        </div>
                      </div>
      
      
                      <!-- [ sample-page ] end -->
                    </div>
                    <!-- [ Main Content ] end -->
                  </div>
                </div>
                <!-- [ Main Content ] end -->
                {% include '_partials/footer.html'%}
                
{% endblock content %}